<!-- ccExtractSearchApp | file_search.html

Author   : Nimish Medatwal
Email    : medatwalnimish@gmail.com
Link     : https://github.com/nimishmedatwal
Linkdin  : https://www.linkedin.com/in/nimishmedatwal/ -->
{% extends "files/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<style type="text/css">
table {
  table-layout: auto;
  width: 100%;
  border: 1px solid rgb(17, 12, 12);
}
td {
    border: 1px solid #000;
}

tr td:first-child {
    width: 10%;
    white-space: nowrap;
}
tr td:last-child {
    width: 60%;
    white-space: wrap;
}
</style>
<div class="content-section" style="margin-top:5em ;">
    <form method="POST" enctype="multipart/form-data" action="searchDB">
        {% csrf_token %}
        <fieldset class="form-group">
            <input type="text" id="search" name="search" value="{{request.POST.search}}"><br><br>

            <div>
        </div>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit" id ="btn_search">Search</button>
        </div>
        
            <table border="1";>
            <tr>
                <th width="10" wrap>
                    File Name
                </th>
                <th width="10">
                    Upload Date
                </th>
                <th width="100">
                    Captions
                </th>
            </tr>
            {%for valuedict in results%}
            <tr border="1">
                {%for value in valuedict.values%}
                    {%if valuedict.key == 'captions' %} 
                        <td style="overflow: auto;"> {{ value}} </td>
                    {% else %}
                        <td style="overflow: auto;"> {{ value}} </td>
                    {% endif %}
                {%endfor%}    
            </tr>
            {%endfor%}
            </table>
        
    </form>
</div>
{% endblock content %}